#header {
    height: 8vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    align-items: center;
    min-width: 75%;
}

a {
    text-decoration: none;
  }

  .logo {
    grid-column-start: 1;
  }

  .new {
    grid-column-start: 4;
  }

  .perfil {
    grid-column-start: 5;
  }